
body{
    font-size: 16px important;
    margin: 0px; /*note this*/
    height: 100%;
    font-family: 'Rowdies', cursive !important;
    background-color: gainsboro !important;
    line-height: normal !important;
/*    overflow-y: hidden; to enable when done */
}

#main-wrapper{
/*main wrapper*/
    height: 97vh;
    background-color: inherit;
}

#main-count{
/* date counter*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5% 0 5% 0;
}

.item-circle{
/*    time count numerics*/
   background-color: black;
    width: 7em;
    height: 7em;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: white;
}

#days, #hours ,#minutes, #seconds{
     /*to make the text top centered*/
   position: relative;
   top: 20%;
   font-size:3em; 
}
#footer{
    text-align: center;
    background-color: black;
    color: white;
     width: 100%;
}

@font-face{
    font-family:'Rowdies', cursive;
    src:url("./fonts/Rowdies-Light.ttf");
}

@font-face{
    font-family:"Oswald";
    src:url("./fonts/Oswald-VariableFont_wght.ttf");
}

#name-company{
    font-weight: bolder;
    color: blue; 
}

#wording{
    width: 50%;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}

.colx-1 , .colx-2{
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 5% 0 5% 0;
}

p > span{
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 3em;
    word-spacing: 0.25em;
    font-weight: 600;
}

.containerx{
    margin: auto;
    width: 50%;
}

