
body{
    font-size: 16px;
    margin: 0px; /*note this*/
    height: 100%;
    font-family: 'Rowdies', cursive;
    background-color: gainsboro;
/*    overflow-y: hidden; to enable when done */
}

#main{
/*main wrapper*/
    height: 97vh;
    background-color: inherit;
}

#main-count{
/* date counter*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 40%;
}

.item-counter{
    width: 7em;
    height: 7em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.item-circle{
   background-color: black;
    width: 7em;
    height: 7em;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: white;
}

#day, #hours ,#minutes, #seconds{
     /*to make the text top centered*/
   position: relative;
   top: 20%;
   font-size:3em; 
}
#footer{
    text-align: center;
    background-color: black;
    color: white;
     width: 100%;
}

@font-face{
    font-family:'Rowdies', cursive;
    src:url("./fonts/Rowdies-Light.ttf");
}

#name-company{
    font-weight: bolder;
    color: blue; 
}

#wording{
    width: 50%;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
}
p > span{
    text-transform: uppercase;
}